openapi: 3.1.0
info:
  title: Google Cloud Contact Center AI Analyses Insights API
  description: The Contact Center AI API enables building AI-powered contact center solutions with conversation profiles, participants, conversation analysis, and insights for virtual and human agent interactions.
  version: 2.0.0
  contact:
    name: Google Cloud
    url: https://cloud.google.com/contact-center/ai
servers:
- url: https://contactcenterinsights.googleapis.com/v1
  description: Google Cloud Contact Center AI Production
tags:
- name: Insights
paths:
  /projects/{projectId}/locations/{location}/insightsdata:export:
    post:
      operationId: exportInsightsData
      summary: Google Cloud Contact Center AI Export insights data
      description: Exports insights data to a destination.
      tags:
      - Insights
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bigQueryDestination:
                  type: object
                  properties:
                    dataset:
                      type: string
                    projectId:
                      type: string
                    table:
                      type: string
                filter:
                  type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
components:
  schemas:
    Operation:
      type: object
      properties:
        name:
          type: string
        done:
          type: boolean
        metadata:
          type: object
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud
