openapi: 3.1.0
info:
  title: Google Cloud Contact Center AI Analyses API
  description: The Contact Center AI API enables building AI-powered contact center solutions with conversation profiles, participants, conversation analysis, and insights for virtual and human agent interactions.
  version: 2.0.0
  contact:
    name: Google Cloud
    url: https://cloud.google.com/contact-center/ai
servers:
- url: https://contactcenterinsights.googleapis.com/v1
  description: Google Cloud Contact Center AI Production
tags:
- name: Analyses
paths:
  /projects/{projectId}/locations/{location}/conversations/{conversationId}/analyses:
    get:
      operationId: listAnalyses
      summary: Google Cloud Contact Center AI List analyses
      description: Lists analyses for a conversation.
      tags:
      - Analyses
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: conversationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  analyses:
                    type: array
                    items:
                      $ref: '#/components/schemas/Analysis'
    post:
      operationId: createAnalysis
      summary: Google Cloud Contact Center AI Create an analysis
      description: Creates an analysis for a conversation.
      tags:
      - Analyses
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: conversationId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Analysis'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
components:
  schemas:
    Analysis:
      type: object
      properties:
        name:
          type: string
          description: Resource name of the analysis.
        createTime:
          type: string
          format: date-time
        analysisResult:
          type: object
          properties:
            callAnalysisMetadata:
              type: object
              properties:
                sentiments:
                  type: array
                  items:
                    type: object
                    properties:
                      magnitude:
                        type: number
                      score:
                        type: number
                entities:
                  type: object
                  additionalProperties:
                    type: object
                intents:
                  type: object
                  additionalProperties:
                    type: object
    Operation:
      type: object
      properties:
        name:
          type: string
        done:
          type: boolean
        metadata:
          type: object
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud
